fastapi==0.135.1
python-multipart==0.0.22
uvicorn==0.41.0
watchfiles==1.1.1
sqlalchemy[asyncio]==2.0.47
asyncpg==0.31.0
psycopg2-binary==2.9.11
alembic==1.18.4
pydantic[email]==2.12.5
pydantic-settings==2.13.1
python-dotenv==1.2.2

# Auth & Security
bcrypt==5.0.0
python-jose==3.5.0
fastapi-mail==1.6.2

# AI & Embeddings
openai==2.26.0
pinecone==9.0.0

# Document & Data processing
pandas==3.0.1
openpyxl==3.1.5
python-docx==1.2.0
pymupdf==1.27.2.2
reportlab==4.4.10

# Storage
boto3==1.42.80
